<a href="https://colab.research.google.com/github/Amirosein/MilkywayFormation/blob/main/MilkyWay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pre

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io, requests, zipfile
from zipfile import ZipFile

!pip install tsfresh
from tsfresh import extract_features

!pip install pyunpack
!pip install patool
from pyunpack import Archive

#import warnings
#warnings.filterwarnings('ignore')


# plt.rcParams.update({'font.size': 20, 'figsize':(8,6)})
SMALL_SIZE = 12
MEDIUM_SIZE = 15
BIGGER_SIZE = 18

plt.rc('font', size=BIGGER_SIZE)          # controls default text sizes
plt.rc('axes', titlesize=MEDIUM_SIZE)     # fontsize of the axes title
plt.rc('axes', labelsize=BIGGER_SIZE)    # fontsize of the x and y labels
plt.rc('xtick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
plt.rc('ytick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
plt.rc('legend', fontsize=MEDIUM_SIZE)    # legend fontsize
plt.rc('figure', titlesize=BIGGER_SIZE)  # fontsize of the figure title

plt.rc('axes', linewidth = 5 )
plt.rc('lines', linewidth = 5 )

plt.rc('lines', markersize = 5 )

plt.rc('figure', figsize=(8,4) )         # Image size

Requirement already satisfied: tsfresh in /usr/local/lib/python3.7/dist-packages (0.18.0)
Requirement already satisfied: numpy>=1.15.1 in /usr/local/lib/python3.7/dist-packages (from tsfresh) (1.19.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from tsfresh) (0.10.2)
Requirement already satisfied: distributed>=2.11.0 in /usr/local/lib/python3.7/dist-packages (from tsfresh) (2021.7.0)
Requirement already satisfied: tqdm>=4.10.0 in /usr/local/lib/python3.7/dist-packages (from tsfresh) (4.41.1)
Requirement already satisfied: requests>=2.9.1 in /usr/local/lib/python3.7/dist-packages (from tsfresh) (2.23.0)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from tsfresh) (0.22.2.post1)
Requirement already satisfied: dask[dataframe]>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tsfresh) (2.12.0)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tsfresh) (0.5.1)
Requirement already satisfied: matrixprofile>=1.1.10<2.0.0 in /usr/local/lib/python3.7/dist-packages (from tsfresh) (1.1.10)
Requirement already satisfied: stumpy>=1.7.2 in /usr/local/lib/python3.7/dist-packages (from tsfresh) (1.8.0)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from tsfresh) (1.1.5)
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from tsfresh) (1.4.1)
Requirement already satisfied: psutil>=5.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.11.0->tsfresh) (5.4.8)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.11.0->tsfresh) (0.11.1)
Requirement already satisfied: cloudpickle>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.11.0->tsfresh) (1.6.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from distributed>=2.11.0->tsfresh) (57.0.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from distributed>=2.11.0->tsfresh) (3.13)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.11.0->tsfresh) (2.4.0)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.11.0->tsfresh) (2.0.0)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.11.0->tsfresh) (1.0.2)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.11.0->tsfresh) (7.1.2)
Requirement already satisfied: tornado>=5; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from distributed>=2.11.0->tsfresh) (5.1.1)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.11.0->tsfresh) (1.7.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.9.1->tsfresh) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.9.1->tsfresh) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.9.1->tsfresh) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.9.1->tsfresh) (3.0.4)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.0->tsfresh) (1.0.1)
Requirement already satisfied: fsspec>=0.6.0; extra == "dataframe" in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]>=2.9.0->tsfresh) (2021.7.0)
Requirement already satisfied: partd>=0.3.10; extra == "dataframe" in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]>=2.9.0->tsfresh) (1.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.4.1->tsfresh) (1.15.0)
Requirement already satisfied: matplotlib>=3.0.3 in /usr/local/lib/python3.7/dist-packages (from matrixprofile>=1.1.10<2.0.0->tsfresh) (3.2.2)
Requirement already satisfied: protobuf==3.11.2 in /usr/local/lib/python3.7/dist-packages (from matrixprofile>=1.1.10<2.0.0->tsfresh) (3.11.2)
Requirement already satisfied: numba>=0.48 in /usr/local/lib/python3.7/dist-packages (from stumpy>=1.7.2->tsfresh) (0.51.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->tsfresh) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->tsfresh) (2.8.1)
Requirement already satisfied: heapdict in /usr/local/lib/python3.7/dist-packages (from zict>=0.1.3->distributed>=2.11.0->tsfresh) (1.0.1)
Requirement already satisfied: locket in /usr/local/lib/python3.7/dist-packages (from partd>=0.3.10; extra == "dataframe"->dask[dataframe]>=2.9.0->tsfresh) (0.2.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.3->matrixprofile>=1.1.10<2.0.0->tsfresh) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.3->matrixprofile>=1.1.10<2.0.0->tsfresh) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.3->matrixprofile>=1.1.10<2.0.0->tsfresh) (2.4.7)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.48->stumpy>=1.7.2->tsfresh) (0.34.0)
Requirement already satisfied: pyunpack in /usr/local/lib/python3.7/dist-packages (0.2.2)
Requirement already satisfied: easyprocess in /usr/local/lib/python3.7/dist-packages (from pyunpack) (0.3)
Requirement already satisfied: entrypoint2 in /usr/local/lib/python3.7/dist-packages (from pyunpack) (0.2.4)
Requirement already satisfied: patool in /usr/local/lib/python3.7/dist-packages (1.12)

> * **Save file function**

In [4]:
def savefile(df,name):
  t = df
  t.to_csv(name, header=True, index=True)
  return 0

# Mount drive

In [5]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

# **Convert Dat. files to a CSV Function**

In [ ]:
import pandas as pd
from pathlib import Path
import csv
from pathlib import Path

f = open("/content/draft.csv", "x")

# function
def data2csv(path, var, os):
  files = Path(path).rglob("*.dat")

  i = 0

  for file in files:
    datContent = [i.strip().split() for i in open(file).readlines()]
    id = os +'-'+ Path(file).stem
    
    # write it as a new CSV file
    with open("/content/draft.csv", "w") as f:
      writer = csv.writer(f)
      writer.writerows(datContent)

    df = pd.read_csv("/content/draft.csv", names=['time','value','e']) 
    df = df[['time','value']]
    df['id'] = id
    df['kind'] = var

    if i==0:
      data = df
    else:
      data = pd.concat([data,df], axis=0)

    i = i+1
    print(i)

  return data

# Convert and Save data

In [ ]:
Archive('/content/drive/MyDrive/LPV.rar').extractall('/content/drive/MyDrive')

> * **LMC**

In [ ]:
LMC3_I1 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/I/p1', 'I','III')
LMC3_I2 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/I/p2', 'I','III')
LMC3_I3 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/I/p3', 'I','III')
LMC3_I4 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/I/p4', 'I','III')
LMC3_I5 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/I/p5', 'I','III')
LMC3_I6 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/I/p6', 'I','III')
LMC3_I7 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/I/p7', 'I','III')
LMC3_I8 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/I/p8', 'I','III')
LMC3_I9 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/I/p9', 'I','III')
LMC3_I10 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/I/p10', 'I','III')
LMC3_I11 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/I/p11', 'I','III')
LMC3_I12 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/I/p12', 'I','III')
LMC3_I13 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/I/p13', 'I','III')
LMC3_I14 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/I/p14', 'I','III')
LMC3_I15 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/I/p15', 'I','III')
LMC3_I16 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/I/p16', 'I','III')
LMC3_I17 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/I/p17', 'I','III')
LMC3_I18 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/I/p18', 'I','III')

LMC3_I = pd.concat([LMC3_I1,LMC3_I2,LMC3_I3,LMC3_I4,LMC3_I5,LMC3_I6,
                    LMC3_I7,LMC3_I8,LMC3_I9,LMC3_I10,LMC3_I11,LMC3_I12,
                    LMC3_I13,LMC3_I14,LMC3_I15,LMC3_I16,LMC3_I17,LMC3_I18])

In [ ]:
LMC3_V1 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/V/p1', 'V','III')
LMC3_V2 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/V/p2', 'V','III')
LMC3_V3 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/V/p3', 'V','III')
LMC3_V4 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/V/p4', 'V','III')
LMC3_V5 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/V/p5', 'V','III')
LMC3_V6 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/V/p6', 'V','III')
LMC3_V7 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/V/p7', 'V','III')
LMC3_V8 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/V/p8', 'V','III')
LMC3_V9 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/V/p9', 'V','III')
LMC3_V10 = data2csv('/content/drive/MyDrive/LPV/IIILMC/phot/V/p10', 'V','III')

LMC3_V = pd.concat([LMC3_V1,LMC3_V2,LMC3_V3,LMC3_V4,LMC3_V5,LMC3_V6,
                    LMC3_V7,LMC3_V8,LMC3_V9,LMC3_V10])

In [ ]:
LPV_LMC = pd.concat([LMC3_I,LMC3_V])
  
LPV_LMC['class'] = 'LPV'  
savefile(LPV_LMC,'LPV_LMC')
LPV_LMC.head()

         time   value                      id kind class
0  2171.86025  14.956  III-OGLE-LMC-LPV-00001    I   LPV
1  2183.81956  14.961  III-OGLE-LMC-LPV-00001    I   LPV
2  2184.81907  14.961  III-OGLE-LMC-LPV-00001    I   LPV
3  2188.86966  14.970  III-OGLE-LMC-LPV-00001    I   LPV
4  2191.78070  14.955  III-OGLE-LMC-LPV-00001    I   LPV

> * **SMC**

In [ ]:
SMC3_I1 = data2csv('/content/drive/MyDrive/LPV/III/phot/I/p1', 'I','III')
SMC3_I2 = data2csv('/content/drive/MyDrive/LPV/III/phot/I/p2', 'I','III')
SMC3_I3 = data2csv('/content/drive/MyDrive/LPV/III/phot/I/p3', 'I','III')
SMC3_I4 = data2csv('/content/drive/MyDrive/LPV/III/phot/I/p4', 'I','III')
SMC3_I = pd.concat([SMC3_I1,SMC3_I2,SMC3_I3,SMC3_I4])

savefile(SMC3_I,'SMC3_I')

In [ ]:
SMC3_V1 = data2csv('/content/drive/MyDrive/LPV/III/phot/V/p1', 'V','III')
SMC3_V2 = data2csv('/content/drive/MyDrive/LPV/III/phot/V/p2', 'V','III')
SMC3_V3 = data2csv('/content/drive/MyDrive/LPV/III/phot/V/p3', 'V','III')
SMC3_V4 = data2csv('/content/drive/MyDrive/LPV/III/phot/V/p4', 'V','III')
SMC3_V = pd.concat([SMC3_V1,SMC3_V2,SMC3_V3,SMC3_V4])

savefile(SMC3_V,'SMC3_V')

In [ ]:
LPV_SMC = pd.concat([SMC3_I,SMC3_V])
  
LPV_SMC['class'] = 'LPV'  
savefile(LPV_SMC,'LPV_SMC')
LPV_SMC.head()

         time   value                      id kind class
0  2088.91535  14.977  III-OGLE-SMC-LPV-00001    I   LPV
1  2090.87535  14.978  III-OGLE-SMC-LPV-00001    I   LPV
2  2103.92958  14.980  III-OGLE-SMC-LPV-00001    I   LPV
3  2104.94812  14.986  III-OGLE-SMC-LPV-00001    I   LPV
4  2106.84596  14.998  III-OGLE-SMC-LPV-00001    I   LPV

In [ ]:
#SMC3 = pd.concat([SMC3_I,SMC3_V])
#LMC3 = pd.concat([LMC3_I,LMC3_V])
#LMC4 = pd.concat([LMC4_I,LMC4_V])
#SMC4 = pd.concat([SMC4_I,SMC4_V])

#LPV['class'] = 'LPV' 

LPV = pd.concat([LPV_LMC,LPV_SMC])

savefile(LPV,'LPV')
LPV.head()

         time   value                      id kind class
0  2171.86025  14.956  III-OGLE-LMC-LPV-00001    I   LPV
1  2183.81956  14.961  III-OGLE-LMC-LPV-00001    I   LPV
2  2184.81907  14.961  III-OGLE-LMC-LPV-00001    I   LPV
3  2188.86966  14.970  III-OGLE-LMC-LPV-00001    I   LPV
4  2191.78070  14.955  III-OGLE-LMC-LPV-00001    I   LPV

In [ ]:
zipObj = ZipFile('LPV.zip', 'w', zipfile.ZIP_BZIP2)

zipObj.write('/content/LPV')
zipObj.close()

# Feature Extraction Function

In [ ]:
Archive('/content/drive/MyDrive/DPV.rar').extractall('/content/drive/MyDrive')

In [ ]:
def feat_ex(X,cls):
  m = extract_features(X, column_id="id", column_sort="time",
                       column_kind="kind", column_value="value")
  m['class'] = cls
  return m

In [ ]:
DPV = pd.read_csv('/content/drive/MyDrive/DPV', index_col=0, header=0 )

DPV.head()

         time   value                    id kind class
0  2162.87556  18.178  III-OGLE-LMC-DPV-001    I   DPV
1  2171.84219  18.235  III-OGLE-LMC-DPV-001    I   DPV
2  2184.80107  18.117  III-OGLE-LMC-DPV-001    I   DPV
3  2188.85166  18.148  III-OGLE-LMC-DPV-001    I   DPV
4  2200.78375  18.223  III-OGLE-LMC-DPV-001    I   DPV

In [ ]:
DPV_f = feat_ex(DPV,'DPV')     # Extracting features
savefile(DPV_f,'DPV_f')
DPV_f.head()

Feature Extraction:   0%|          | 0/5 [00:00<?, ?it/s]


Feature Extraction:  20%|██        | 1/5 [00:32<02:11, 32.98s/it]


Feature Extraction:  40%|████      | 2/5 [01:07<01:40, 33.53s/it]


Feature Extraction:  60%|██████    | 3/5 [01:46<01:10, 35.22s/it]


Feature Extraction:  80%|████████  | 4/5 [02:09<00:31, 31.30s/it]


Feature Extraction: 100%|██████████| 5/5 [02:27<00:00, 29.56s/it]

                      I__variance_larger_than_standard_deviation  ...  class
III-OGLE-LMC-DPV-001                                         0.0  ...    DPV
III-OGLE-LMC-DPV-002                                         0.0  ...    DPV
III-OGLE-LMC-DPV-003                                         0.0  ...    DPV
III-OGLE-LMC-DPV-004                                         0.0  ...    DPV
III-OGLE-LMC-DPV-005                                         0.0  ...    DPV

[5 rows x 1575 columns]

# Outputs Encoding

> * **One-Hot Encoding**

In [ ]:
from sklearn.preprocessing import OneHotEncoder

a = np.array(data['class'])
OH_Enc = OneHotEncoder( )
OH_Encoded = OH_Enc.fit_transform(a.reshape(-1,1)).toarray()
OH_Outputs = pd.DataFrame(OH_Encoded)
OH_Outputs.columns = ['OH1','OH2','OH3','OH4','OH5']

data = pd.concat([data,OH_Outputs], axis=1)
data.head()

#a = OH_Enc.inverse_transform(np.array([[1, 0, 0, 0, 0],[0, 1, 0, 0, 0],[0, 0, 1, 0, 0]
             #             ,[0, 0, 0, 1, 0],[0, 0, 0, 0, 1]]))

#print('[1, 0, 0, 0, 0] =',a[0],'\n')
#print('[0, 1, 0, 0, 0] =',a[1],'\n')
#print('[0, 0, 1, 0, 0] =',a[2],'\n')
#print('[0, 0, 0, 1, 0] =',a[3],'\n')
#print('[0, 0, 0, 0, 1] =',a[4],'\n')

> * **Ordinal Encoding**

In [ ]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
le.fit(data['class'])
Ordinal_Y = le.transform(data['class']) 
Y_O = pd.DataFrame(Ordinal_Y)
Y_O.columns = ['Y']

data = pd.concat([data,Y_O], axis=1)
data.head()

#le.inverse_transform([0, 1, 2, 3, 4])

# Shuffle and Imputation

> * Shuffle

In [ ]:
from sklearn.utils import shuffle

data = shuffle(data, random_state=42)
data = data.reset_index()

X = data.loc[:,'Jmag (1.22u)':'160u flux']
Y = data.loc[:,'y1':'y5']
categories = data['class']

data.head()

> * Iterative Imputer

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imp = IterativeImputer()
imp_data = imp.fit_transform(X)
X = pd.DataFrame(imp_data, columns= X.columns)