<a href="https://colab.research.google.com/github/Churchiill/MilkywayFormation/blob/main/MilkyWay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pre

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io, requests, zipfile


# plt.rcParams.update({'font.size': 20, 'figsize':(8,6)})

SMALL_SIZE = 12
MEDIUM_SIZE = 15
BIGGER_SIZE = 18

plt.rc('font', size=BIGGER_SIZE)          # controls default text sizes
plt.rc('axes', titlesize=MEDIUM_SIZE)     # fontsize of the axes title
plt.rc('axes', labelsize=BIGGER_SIZE)    # fontsize of the x and y labels
plt.rc('xtick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
plt.rc('ytick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
plt.rc('legend', fontsize=MEDIUM_SIZE)    # legend fontsize
plt.rc('figure', titlesize=BIGGER_SIZE)  # fontsize of the figure title

plt.rc('axes', linewidth = 5 )
plt.rc('lines', linewidth = 5 )

plt.rc('lines', markersize = 5 )

plt.rc('figure', figsize=(8,4) )         # Image size

# Import data

In [ ]:
url = 'https://mega.nz/file/54Ijzaob#OGxTt27c2IasKVwYy_yqfUffvdoyhrAKrqWhzKxs53s'
s=requests.get(url, stream=True).content
data = pd.read_csv(io.BytesIO(s) )

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install pyunpack
!pip install patool
from pyunpack import Archive
Archive('/content/drive/MyDrive/V1.rar').extractall('/content/drive/MyDrive')

Requirement already satisfied: pyunpack in /usr/local/lib/python3.7/dist-packages (0.2.2)
Requirement already satisfied: easyprocess in /usr/local/lib/python3.7/dist-packages (from pyunpack) (0.3)
Requirement already satisfied: entrypoint2 in /usr/local/lib/python3.7/dist-packages (from pyunpack) (0.2.4)
Requirement already satisfied: patool in /usr/local/lib/python3.7/dist-packages (1.12)

In [ ]:
import csv

# read .dat to a list of lists
datContent = [i.strip().split() for i in open("/content/drive/MyDrive/OGLE-LMC-LPV-00001.dat").readlines()]

f = open("/content/drive/MyDrive/shitt.csv", "x")

# write it as a new CSV file
with open("/content/drive/MyDrive/shitt.csv", "w") as f:
    writer = csv.writer(f)
    writer.writerows(datContent)

In [ ]:
import pandas as pd

dataframe = pd.read_csv("/content/drive/MyDrive/shitt.csv", names=['a','b','c'])

dataframe

             a       b      c
0   3032.76426  16.654  0.007
1   3326.85569  16.572  0.007
2   3337.70964  16.601  0.008
3   3353.67589  16.597  0.007
4   3358.67497  16.590  0.007
5   3366.67504  16.590  0.008
6   3375.64125  16.616  0.007
7   3385.71488  16.602  0.007
8   3397.63598  16.611  0.008
9   3720.68591  16.586  0.008
10  3724.72141  16.606  0.007
11  3731.65212  16.640  0.007
12  3739.63744  16.611  0.007
13  3750.66369  16.620  0.008
14  3757.62039  16.610  0.007
15  3762.64588  16.649  0.006
16  3769.62889  16.630  0.006
17  3780.72288  16.618  0.011
18  4066.68565  16.650  0.007
19  4074.67011  16.646  0.008
20  4092.65183  16.654  0.006
21  4111.68107  16.630  0.007
22  4125.67774  16.610  0.007
23  4400.73985  16.617  0.009
24  4410.78001  16.695  0.007
25  4422.80678  16.630  0.007
26  4426.83035  16.665  0.007
27  4438.80369  16.613  0.007
28  4452.67417  16.653  0.008
29  4463.65877  16.643  0.007
30  4478.69937  16.590  0.007
31  4482.72818  16.644  0.007
32  4487.70461  16.663  0.010
33  4779.82060  16.647  0.007
34  4784.84950  16.642  0.009
35  4892.58386  16.670  0.007